#e1_2 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
#e1_3 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:1400px;
	height:114px;
	position:absolute;
	left:17px;
	top:27px;
}
#e1_4 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:700px;
	height:170px;
	position:absolute;
	left:20px;
	top:165px;
}
#e1_5 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:676px;
	height:170px;
	position:absolute;
	left:735px;
	top:166px;
}
#e1_6 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:1050px;
	height:170px;
	position:absolute;
	left:23px;
	top:378px;
}
#e1_17 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:14px;
	position:absolute;
	left:301px;
	top:450px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
#e1_7 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:307px;
	height:172px;
	position:absolute;
	left:1104px;
	top:382px;
}
#e1_8 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:454px;
	height:179px;
	position:absolute;
	left:26px;
	top:570px;
}
#e1_9 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:485px;
	height:178px;
	position:absolute;
	left:511px;
	top:572px;
}
#e1_10 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:384px;
	height:172px;
	position:absolute;
	left:1027px;
	top:574px;
}
#e1_12 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:1388px;
	height:123px;
	position:absolute;
	left:23px;
	top:767px;
}
#e1_13 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:1388px;
	height:56px;
	position:absolute;
	left:23px;
	top:914px;
}
#e4_2 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:1156px;
	top:-27px;
}
#e1_14 { 
	color:rgba(0, 0, 0, 1);
	width:39px;
	height:14px;
	position:absolute;
	left:715px;
	top:84px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
#e1_15 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:14px;
	position:absolute;
	left:243px;
	top:248px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
#e1_16 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:14px;
	position:absolute;
	left:882px;
	top:276px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
#e1_19 { 
	color:rgba(0, 0, 0, 1);
	width:17px;
	height:14px;
	position:absolute;
	left:1200px;
	top:454px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
#e1_20 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:14px;
	position:absolute;
	left:175px;
	top:669px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
#e1_21 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:14px;
	position:absolute;
	left:640px;
	top:670px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
#e1_22 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:14px;
	position:absolute;
	left:1154px;
	top:670px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
#e1_23 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:14px;
	position:absolute;
	left:659px;
	top:836px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
#e1_24 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:14px;
	position:absolute;
	left:650px;
	top:949px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}