.wireframe {
    color: rgba(255, 255, 255, 1);
    padding: 5rem;
    border-radius: 0;
	text-align: center;
    font-size: 30pt;
}
header.wireframe {
    background-color: #636363;
}
.wireframe-grid header,
.wireframe-grid footer,
.wireframe-grid main{
	grid-column: span 1;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }